.map{
    width: max-content;
    background-color: rgba(12, 11, 11, 0.836);
    transform: translateX(20%);
    position: absolute;
    left: -100%;
    top: -300%;
}

.map path {
    fill: rgb(21,157,210);
    stroke: rgb(0, 0, 0);
    stroke-width: 0.5;
    transition: fill 0.3s;
}

.country path:hover {
    fill: rgb(12, 85, 114);

}

.disabled {
    fill: rgb(0, 56, 102);
}